.hero.parallax {
    /* The image used */
    background-image: url("../img/plan-eau.jpg");

    /* Set a specific height */
    height: 400px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
}



.hero .title {
    color: #ae0202;
}