.hero.parallax {
    /* The image used */
    background-image: url("../img/plan-eau.jpg");

    /* Set a specific height */
    height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
}

.hero .title {
    color: #ae0202;
}

.navbar-item.is-active {
    text-decoration: underline;
    font-weight: bold;
}